/* .tx .pa3 .f1 .ma0 */

.showSide {
    text-align: center; /* .tc */
    padding: var(--spacing-medium); /* .pa3 */
    font-size: var(--font-size-1); /* .f1 */
    margin: var(--spacing-none); /* .ma0 */
}

.showNone {
    text-align: center;
    padding: var(--spacing-medium);
    font-size: var(--font-size-1);
    margin: var(--spacing-none);

}

.showTop {
    /* tachyons: .tc */
    text-align: center;
    /* tachyons: .pa3 */
    padding: var(--spacing-medium);
    /* tachyons: .f1 */
    font-size: var(--font-size-1);
    /* tachyons: .ma0 */
    margin: var(--spacing-none);

}

/* :root { --saints-purple: #8D02B3; } */
.saints-purple { color: var(--saints-purple); }
.bg-saints-purple { background-color: var(--saints-purple); }
.b--saints-purple { border-color: var(--saints-purple); }
.hover-saints-purple:hover, 
.hover-saints-purple:focus { color: var(--saints-purple); }
