.showOff {
    /* Tachyons - text-align: .tc */
    text-align: center;
    /* Tachyons - spacing: .pa3 */
    padding: var(--spacing-medium);
    /* Tachyons - type-scale: .f1 */
    font-size: var(--font-size-1);
    /* Tachyons - spacing: .ma0 */
    margin: var(--spacing-none);
}

.myMethod {
}

@media (--breakpoint-not-small) {
  .myMethod {
  }
}

@media (--breakpoint-medium) {
  .myMethod {
  }
}

@media (--breakpoint-large) {
  .myMethod {
  }
}

.rust { color: var(--rust); }
.bg-rust { background-color: var(--rust); }
.b--rust { border-color: var(--rust); }

